.contents {
    display: contents;
}

h3[data-v-a950b0be] {
    padding: 10px 0 !important;
    font-size: 22px;
    font-weight: 700 !important;
    color: #000 !important
}
.\!text-lg {
    font-size: 1.125rem !important;
    line-height: 1.75rem !important;
}
.\!py-0 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
._subtitle1 {
    margin-bottom: 15px
}
.block {
    display: block;
}

h3[data-v-cc50df86] {
    padding: 10px 0 !important;
    font-size: 22px;
    font-weight: 700 !important;
    color: #000 !important
}
.min-height{
    margin-top: 400px;
}

h3[data-v-ebf2a460] {
    padding: 10px 0 !important;
    font-size: 22px;
    font-weight: 700 !important;
    color: #000 !important
}
h3[data-v-3bb870a3] {
    padding: 10px 0 !important;
    font-size: 22px;
    font-weight: 700 !important;
    color: #000 !important
}